footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; Your Website 2023
            .col-auto
                a.small(href='#!') Privacy
                span.mx-1 &middot;
                a.small(href='#!') Terms
                span.mx-1 &middot;
                a.small(href='#!') Contact