nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='index.html')
            span.fw-bolder.text-primary Start Bootstrap
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='resume.html') Resume
                li.nav-item
                    a.nav-link(href='projects.html') Projects
                li.nav-item
                    a.nav-link(href='contact.html') Contact
