doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Project Name 1
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!
                                        img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

                            // Project Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0
                                .card-body.p-0
                                    .d-flex.align-items-center
                                        .p-5
                                            h2.fw-bolder Project Name 2
                                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!
                                        img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
