doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Modern Business - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Resume
                .row.gx-5.justify-content-center

                    .col-xl-7

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experience
                                a.btn.btn-primary(href='#!') Download Resume

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .d-flex.align-items-center
                                        .flex-shrink-0.me-5
                                            strong.mb-2 2019 - Present
                                            div Job Title
                                            div Location
                                        div Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .d-flex.align-items-center
                                        .flex-shrink-0.me-5
                                            strong.mb-2 2017 - 2019
                                            div Job Title
                                            div Location
                                        div Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam odit tempora vitae consequatur voluptate sequi quod adipisci sit beatae? At placeat voluptates deserunt ipsam impedit cum, officia nisi numquam repellat!

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Education
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .d-flex.align-items-center
                                        .flex-shrink-0.me-5
                                            strong.mb-2 2015 - 2017
                                            div Institution Name
                                            div Degree Level
                                            div Location
                                        div Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia modi accusantium perferendis vitae quisquam, architecto incidunt maxime a quas possimus odio minima facilis voluptatibus laboriosam pariatur fugiat illo quasi sint!

                            // Education Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .d-flex.align-items-center
                                        .flex-shrink-0.me-5
                                            strong.mb-2 2012 - 2015
                                            div Institution Name
                                            div Degree Level
                                            div Location
                                        div Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores rerum ullam, eveniet vitae ab molestiae necessitatibus consequatur nobis dolorem amet maiores, id omnis, in earum ipsam illum! At, deserunt quo!

                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    //- Professional skills lis
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Professional Skills
                                        .row.row-cols-1.row-cols-md-3.gx-4.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 SEO/SEM Marketing
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Statistical Analysis
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web Development
                                        .row.row-cols-1.row-cols-md-3.gx-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Network Security
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Adobe Software Suite
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 User Interface Design
                                    //- Languages list
                                    //- (Copy this section and paste below, and change the mb-0 to mb-5 to add additional lists)
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Languages
                                        .row.row-cols-1.row-cols-md-3.gx-4.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript
                                        .row.row-cols-1.row-cols-md-3.gx-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Ruby
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js


        // Footer
        include includes/footer.pug

        include includes/scripts.pug